<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskSonic</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #302f2fba;
        font-family: cursive;
      }
      section {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      section h1 {
        text-transform: capitalize;
        color: #4a4444;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
      }
      section p {
        color: #3c3232;
        text-align: center;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>
    <section>
      <div>
        <h1>welcome to task TaskSonic</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, dolor
          in obcaecati a id assumenda, ea consectetur deserunt ipsam blanditiis
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
          commodi! Laborum sint delectus perferendis. Repudiandae id accusantium
          at, dolor sed exercitationem suscipit! Repellendus quod facilis ut
          assumenda totam! Ducimus corporis saepe aut a iusto sint amet
          voluptate adipisci, tempore, odit facilis nostrum ut quibusdam non
          reiciendis libero modi minima assumenda ratione porro animi ea!
          Necessitatibus harum quos tempore architecto est laudantium autem
          porro eligendi quia perspiciatis, tenetur repellat vel quisquam
          obcaecati delectus minus deleniti provident natus possimus labore
          fugiat, quasi molestias? Voluptatem reiciendis quo tempore fugit illo
          sit amet totam ab ipsa, deleniti impedit consectetur veritatis libero,
          ut exercitationem fugiat at omnis ea aperiam fuga necessitatibus.
          Ullam voluptatum fugiat, dolore quos, sit vel tempora, enim ratione
          recusandae iure aperiam maxime excepturi tempore totam magni quia sunt
          eius. Nobis magnam voluptates possimus delectus nisi laboriosam est.
          Vel adipisci dolores quia maiores, autem placeat quo repellat ab
          voluptatibus eveniet consectetur dignissimos molestias, reiciendis
          expedita eum id explicabo? Totam atque molestiae ipsam, ducimus
          impedit ab aperiam vel tempore quae minima, animi repellat assumenda
          nemo veniam. Unde obcaecati autem rem corporis voluptatibus quae
          temporibus accusantium voluptatem. Et odit delectus, assumenda
          exercitationem perferendis mollitia voluptate omnis consequuntur
          libero laborum quo vel quia reiciendis ex eligendi optio ad illo
          sequi. Commodi eaque possimus eveniet praesentium. Expedita eligendi,
          autem sequi quidem deleniti at neque saepe obcaecati magnam commodi
          atque doloribus, excepturi maiores fugit? Excepturi, quas deleniti
          labore libero deserunt, soluta quibusdam veritatis odit quam optio
          eius molestiae enim quaerat! Esse consequatur eum sequi temporibus
          itaque quaerat unde vitae quam deleniti placeat atque dolore eligendi
          vel doloribus molestias, totam dolores sunt corrupti animi. Ullam
          veritatis ipsam repudiandae eos laboriosam amet voluptates ipsa non
          magnam et saepe quaerat accusantium, odit sed harum dolorem! Odio
          veritatis nisi natus. Aspernatur ex dolore facere delectus voluptatum
          dolorum sequi dolorem, corporis saepe iure doloribus debitis quae
          cupiditate at minus neque dignissimos libero ducimus! Nemo, quis!
          Minus ratione animi, incidunt quidem quae hic debitis excepturi
          consequatur dolorem, tempore adipisci accusamus, nobis delectus. Illo
          culpa totam quos debitis adipisci ut accusantium amet eaque deserunt
          in alias nesciunt officia, pariatur numquam fugiat similique qui quo,
          explicabo laboriosam veniam maiores perferendis dolorem libero unde.
          Doloremque non hic provident excepturi quaerat suscipit iusto, magni
          nesciunt esse in aliquam tempora repellendus, natus vero? Tenetur
          similique consequatur a asperiores neque ipsum voluptatum temporibus
          fugiat vel! Exercitationem impedit suscipit blanditiis sit. Error,
          odio veritatis! Nobis vitae itaque ipsam assumenda doloremque iste?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          consequuntur vero nam unde possimus maxime facere magnam ad distinctio
          dolorem reprehenderit consectetur quos, suscipit perspiciatis amet,
          saepe nesciunt consequatur quae? Vitae eos earum reiciendis sunt culpa
          deserunt velit aliquid minima voluptates quas harum necessitatibus
          assumenda exercitationem, animi architecto expedita aperiam pariatur
          ratione, accusantium amet voluptatibus. Dolorem ad dicta voluptate
          ipsam pariatur natus suscipit voluptatem, atque quae ex, nam esse
          praesentium in repudiandae facilis ducimus rem sapiente? Beatae
          inventore eveniet totam vel necessitatibus. Maxime, possimus quia sed
          officiis molestiae sunt consectetur, deserunt quos ullam optio
          distinctio obcaecati quae autem ratione magnam laudantium sequi
          doloremque unde a placeat quibusdam laborum atque nesciunt?
          Perspiciatis laboriosam et necessitatibus qui veniam, similique ipsa
          officia nobis dolorem praesentium nemo magnam corrupti est velit
          facilis repellendus repellat amet. Natus veritatis praesentium
          necessitatibus cupiditate blanditiis laudantium id reprehenderit
          expedita ipsam atque dolorum asperiores nihil alias architecto
          recusandae quae similique, modi, iure placeat vel ea temporibus
          soluta! Dolor ad excepturi quaerat commodi voluptas omnis pariatur
          ducimus, adipisci illo eius minima delectus sunt, dolores natus
          praesentium fugit harum iure vitae porro id dolorem. Et, eveniet
          earum. Autem consequuntur dicta labore totam reiciendis perferendis
          voluptatem expedita, cumque, non itaque omnis explicabo error vitae
          deserunt iste laborum et nam dolorum ducimus. Corrupti, cupiditate
          obcaecati fugiat reiciendis facere dignissimos nisi error esse
          delectus cum. Labore culpa iure inventore quibusdam dolor maxime
          vitae. Id tenetur, maiores quas possimus voluptates quos esse in!
          Repellat sint placeat fugit sunt, optio consequuntur numquam ratione a
          voluptatibus harum? Nam expedita, ex consequatur atque nihil
          distinctio tenetur autem quod a neque debitis beatae reprehenderit
          placeat magni reiciendis quis nostrum quasi eos illo incidunt
          quisquam, labore, omnis nisi ut. Doloribus perspiciatis blanditiis
          corporis nisi alias? Doloribus esse quia autem? Ex, consequatur.
          Officiis sed laborum ullam blanditiis illum beatae dignissimos quos?
        </p>
      </div>
    </section>
  </body>
</html>
