.post-task__page {
  padding: 20px 0 60px 0;
}
.post_task_form_title {
  padding: 10px;
  font-size: var(--font-size-xxl);
  color: var(----primary-color);
}
.post_task_form {
  padding: 15px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-medium);
  border-radius: 10px;
  border: 3px solid var(--background-color);
}
/* .task_form_date_wrapper */
.task_form_date_wrapper {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.post_task_form .post_task_form_btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-transform: capitalize;
}
/* POST FORM LOCATION CARD */
.post_task_form_cardbox_wrapper {
  display: flex;
  gap: 10px;
}
.post_task_form .post_task_form_cardbox {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background-color: var(--text-secondary-color);
  box-shadow: var(--box-shadow-medium);
  border: 1px solid var(--background-color);
  padding: 20px;
  border-radius: 10px;
}
.post_task_form .post_task_form_cardbox:hover {
  background-color: var(--text-color);
}
.post_task_form_cardbox .post_task_form_cardbox_title {
  text-transform: capitalize;
  font-size: var(--font-size-large);
  color: var(--primary-color);
}
.post_task_form_cardbox .post_task_form_cardbox_subtitle {
  text-transform: capitalize;
  font-size: var(--font-size-small);
  color: var(--primary-color);
  margin: 0;
}