header {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-medium);
  position: sticky;
  z-index: 1000;
  top: 0;
}
/* HEADER BRANCH LOGO STYLE*/
header .header_brand {
  cursor: pointer;
}
header .header_brand .header_brand_name {
  text-transform: uppercase;
  font-size: var(--font-size-xxl);
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
}
/* HEADER MENU STYLE */
header a {
  font-size: var(--font-size-base) !important;
  padding: 0 var(--spacing-medium) !important;
  color: var(--text-color) !important;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.5s;
}
header a:hover {
  border-bottom: 1px solid var(--text-color);
  transition: 0.5s;
}
/* HEADER RIGHT AUTH BUTTON STYLE */
header .auth_btn {
  padding: 5px 15px;
  background-color: var(--primary-color);
  border-color: var(--background-color);
  font-size: var(--font-size-base);
  text-transform: capitalize;
  color: var(--text-color);
  border-radius: 30px;
  transition: 0.3s;
}
header .auth_btn:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}
