header {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-medium);
  position: sticky;
  z-index: 1000;
  top: 0;
}
header .header_brand {
  cursor: pointer;
}
header a {
  font-weight: var(--font-weight-500) !important;
  font-size: var(--font-size-base) !important;
  padding: 0 var(--spacing-medium) !important;
  color: var(--primary-color) !important;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.5s;
}
header a:hover {
  border-bottom: 1px solid var(--primary-color);
  transition: 0.5s;
}
header .auth_btn {
  padding: 5px 15px;
  background-color: var(--primary-color);
  border-color: var(--background-color);
  font-size: var(--font-size-base);
  text-transform: capitalize;
  color: var(--text-color);
  border-radius: 30px;
}
header .auth_btn:hover {
  background-color: var(--primary-color-light);
}
