.task_card {
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-medium);
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}
.task_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: var(--primary-color-light);
  border-top-left-radius: 10px;
  /* border-bottom-right-radius: 10px; */
  border-top-right-radius: 10px;
  z-index: -1;
  /* display: none; */
}
.task_card::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color-light);
  /* border-top-left-radius: 50px;
  border-bottom-right-radius: 10px; */
  /* border-top-left-radius: 40px; */
  border-bottom-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
}
.task_card:hover {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-medium);
  transform: translateY(-5px);
}
/* task_card_head */
.task_card .task_card_title {
  color: var(--background-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-600);
  text-transform: capitalize;
}
.task_card .task_card_price {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-500);
  color: var(--text-color);
}
/* task_card_list */
.task_card .task_card_list {
  margin: 0 !important;
  padding: 0 !important;
}
.task_card .task_card_list span {
  color: var(--background-color);
  font-size: var(--font-size-base);
  text-transform: capitalize;
}
/* card_footer */
.task_card .card_footer {
  padding-top: 10px;
}
.task_card .card_footer span {
  text-transform: capitalize;
}
.task_card .task_card_status_badge {
  color: var(--text-color);
  text-transform: capitalize;
  background-color: var(--primary-color);
  padding: 2px 3px;
  font-size: var(--font-size-small);
  border-radius: 5px;
}
.task_card_quoto_badge {
  color: var(--primary-color);
  font-weight: var(--font-weight-base);
  text-transform: capitalize;
  font-size: var(--font-size-small);
}
.task_card .card_footer .task_card_author {
  background-color: var(--gray-dark);
  text-transform: uppercase;
  font-weight: var(--font-weight-600);
  color: var(--primary-color);
}
.task_card .card_footer .task_card_author:hover {
  box-shadow: var(--box-shadow-dark);
  background-color: var(--background-color);
}
/* TASK CARD AUTHOR TOOLTIP */
.tooltip .tooltip-inner {
  background-color: var(--gray-dark) !important;
  color: var(--text-color) !important;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  text-transform: capitalize;
}
.tooltip-arrow::before {
  display: none;
}

/* TASK CARD RESPONSIVE */
@media (max-width: 320px) {
  .task_card::before {
    width: 40% !important;
  }
}
