.footer {
  background-color: var(--background-color);
  padding: 40px 20px;
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer_column {
  flex: 1;
  min-width: 200px;
}
/* FOOTER LOGO STYLE */
.footer_logo {
  display: flex;
  align-items: center;
}
.footer_logo h1 {
  font-size: var(--font-size-xxl);
  text-transform: capitalize;
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  border-bottom: 3px solid var(--primary-color);
}
.footer_description {
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--primary-color);
}
/* FOOTER TITLE STYLE */
.footer_column h3 {
  font-size: var(--font-size-large);
  color: var(--primary-color);
  margin-bottom: 10px;
}

.footer_column ul {
  list-style: none;
  padding: 0;
}

.footer_column ul li {
  margin-bottom: 5px;
}

.footer_column ul li a {
  text-decoration: none;
  color: var(--gray-dark);
  font-size: 0.9rem;
}
.footer_column ul li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
/* FOOTER BOTTOM ILAND */
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid var(--gray-light);
  padding-top: 10px;
  font-size: 0.85rem;
}

.footer_bottom p {
  margin: 0;
  color: var(--primary-color);
}

.footer_links a {
  text-decoration: none;
  color: var(--primary-color);
  margin-left: 15px;
  font-size: 0.85rem;
}

.footer_links a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
